<div class="content">

    <p>
        {{#if isMobile}}
            {{l "intro.for-mobile"}}
        {{else}}
            {{l "intro.for-desktop"}}
        {{/if}}
    </p>

    <a href={{l "apple.url"}} target="_blank" title={{l "apple.title"}} style="">
        <img src="/assets/huisartsenhulp/download-on-app-store-nl.svg" alt={{l "apple.alt"}} width="45%">
    </a>

    <a href={{l "android.url"}} target="_blank" title={{l "android.title"}}>
        <img src="/assets/huisartsenhulp/download-google-play-nl.png" alt={{l "android.alt"}} width="45%">
    </a>


</div>