<div class="content">

	<div class="ui divided grid">
		<div class="eight wide column">
			<h4 class="ui grey dividing header">
				<i class="lightning icon"></i>
				{{l "temporary"}}
			</h4>
			<div class="ui relaxed list">

				{{#each temporaryFilters as |filter|}}

					<a class="item" {{linkTo "employee.job.index" query=(concat "filter=" filter.slug)}}>
						{{filter.title}}
					</a>

				{{/each}}

			</div>				
		</div>
		<div class="eight wide column">
			<h4 class="ui grey dividing header">
				<i class="anchor icon"></i>
				{{l "permanent"}}
			</h4>
			<div class="ui relaxed list">

				{{#each permanentFilters as |filter|}}

					<a class="item" {{linkTo "employee.permanent-job.index" query=(concat "filter=" filter.slug)}}>
						{{filter.title}}
					</a>

				{{/each}}

			</div>				
		</div>

	</div>


	
	
</div>